{% extends 'karte/main.html' %}
{% load static %}
{% block content %}

     <div class="red">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="Kupac-informacije">
						<div class="form-field">
							<input required class="form-control" type="text" name="Ime" placeholder="Unesite ime">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="Email" placeholder="Unesite E-mail">
						</div>
					</div>




                    <div id="informacije-dostava">
                        <hr>
                        <p>Informacije o dostavi</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-controll" type="text" name="Adresa" placeholder="Unesite adresu">

                        </div>

                        <div class="form-field">
                            <input class="form-controll" type="text" name="Grad" placeholder="Unesite grad">

                        </div>

                        <div class="form-field">
                            <input class="form-controll" type="text" name="Poštanski broj" placeholder="Unesite poštanski broj">

                        </div>

                        <div class="form-field">
                            <input class="form-controll" type="text" name="Državu" placeholder="Unesite državu">

                        </div>

                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Nastavi">

                </form>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">

            </div>
        </div>
    </div>

{% endblock content %}
