{% extends 'karte/main.html' %}
{% load static %}
{% block content %}

    <div class="red">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'slike/slika.png' %}">
            <div class="box-element karta">
                <h6><strong>Predstava</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Dodaj u košaricu</button>
                <a class="btn btn-outline-success" href="#">Pogledaj</a>
                <h4 style="display: inline block; float: right"><strong>20kn</strong></h4>
            </div>
        </div>



        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'slike/slika.png' %}">
            <div class="box-element karta">
                <h6><strong>Predstava</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Dodaj u košaricu</button>
                <a class="btn btn-outline-success" href="#">Pogledaj</a>
                <h4 style="display: inline block; float: right"><strong>20kn</strong></h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'slike/slika.png' %}">
            <div class="box-element karta">
                <h6><strong>Predstava</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Dodaj u košaricu</button>
                <a class="btn btn-outline-success" href="#">Pogledaj</a>
                <h4 style="display: inline block; float: right"><strong>20kn</strong></h4>
            </div>
        </div>
    </div>

{% endblock content %}
