{% extends 'karte/main.html' %}
{% load static %}
{% block content %}

    <div class="red">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'karte' %}">&#x2190; Nastavi</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Broj kupljenih karata: <strong>3</strong></h5></th>
                        <th><h5>Ukupno<strong>60kn</strong></h5></th>
                        <th>
                            <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'dostava' %}">Dostava

                            </a>
                        </th>
                    </tr>
                </table>



            </div>
            <br>
            <div class="box-element">
                <div class="kosarica-red">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Naziv</strong></div>
                    <div style="flex:1"><strong>Cijena</strong></div>
                    <div style="flex:1"><strong>Kolicina</strong></div>
                    <div style="flex:1"><strong>Ukupno</strong></div>
                </div>

                <div class="kosarica-red">
                    <div style="flex:2"><img class="row-image" src="{% static 'slike/slika.png' %}"></div>

                    <div style="flex:2"><p>Predstava 1</p></div>
                    <div style="flex:1"><p>20kn</p></div>
                    <div style="flex:1">
                        <p class="kolicina">2</p>
                        <div class="kolicina">
                            <img class="chg-kolicina" src="{% static 'slike/gore.png' %}">
                            <img class="chg-kolicina" src="{% static 'slike/dolje.png' %}">

                        </div>
                    </div>

                    <div style="flex:1"><p>40 kn</p></div>
                </div>


            </div>
         </div>
    </div>

{% endblock content %}
